<app-admin-nav></app-admin-nav>

<div class="bootstrap-wrapper">
  <div class="container">
      <div class="row" style="margin-top: 20px;">
          <div class="col-md-6 offset-md-3 text-center">
              <div class="container">
                  <img src="assets\img\logo.jpg" >
              </div>
              <h1 class="text-center">Add New Student</h1>

              <form [formGroup]="addNewStud" (ngSubmit)="onAddNewStud($event)">
                  <!-- course name -->
                  <div class="form-group">
                  <mat-form-field class="full-width" appearance="outline">
                      <mat-label>Course Name</mat-label>
                      <input type="text" required matInput placeholder="Enter Here..." class="form-control" formControlName="course_name">

                  </mat-form-field>
                  </div>

                  <!-- Branch Name -->
                  <div class="form-group">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Branch Name</mat-label>
                    <input type="text"  required matInput placeholder="Enter Here..." class="form-control" formControlName="branch_name">

                  </mat-form-field>
                  </div>

                  <!-- Roll No -->
                  <div class="form-group">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Roll Number</mat-label>
                    <input type="number" required matInput placeholder="Enter Here..." class="form-control" formControlName="roll_no">

                   </mat-form-field>
                   </div>


                  <!-- Student Name -->
                  <div class="form-group">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Student Name</mat-label>
                    <input type="text"  required matInput placeholder="Enter Here..." class="form-control" formControlName="student_name">

                   </mat-form-field>
                   </div>


                  <!-- Father Name -->
                  <div class="form-group">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Father Name</mat-label>
                    <input type="text"  required matInput placeholder="Enter Here..." class="form-control" formControlName="father_name">

                   </mat-form-field>
                   </div>

                  <!-- Gender-->
                  <div class="form-group">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Gender</mat-label>
                    <input type="text"  required matInput placeholder="Enter Here..." class="form-control" formControlName="gender">

                   </mat-form-field>
                   </div>

                   <div class="container">
                     <button [disabled]=!addNewStud.valid type="submit"  mat-raised-button color="primary" name="save">Save</button>
                     <button [disabled]=!addNewStud.valid type="submit" class="margin-left" mat-raised-button color="accent" name="update">update</button>
                   </div>
                </form>


               </div>
              </div>
            </div>
          </div>




