<!-- <h1>hello shivraj...</h1>



    <button mat-raised-button color="Primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
 
 -->


<!-- <app-navbar></app-navbar>

<app-header-footer></app-header-footer> -->

<!-- <h2>Admin</h2>
<ul>
  <li><a routerLink="admin/login">Login</a></li>
  <li><a routerLink="admin/add-new-student">Add New Student</a></li>
  <li><a routerLink="admin/insert-new-result">insert New Result</a></li>
</ul>

<h2>Student</h2>
<ul>
  <li><a routerLink="student/result">Results</a></li>
</ul> -->





<router-outlet></router-outlet>
















<html>
<head>
  <title>
    Home Page
  </title>
</head>
<body>

    <router-outlet></router-outlet>
  
</body>
</html>


