<app-navbar></app-navbar>

<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3 text-center">
                <div class="container mt-5">
                    <img src="assets\img\logo.jpg" >
                </div>
                <h1 class="text-center">Log in to RESULTCO</h1>

              <div *ngIf="isLoginerr" class="red-text center error-message">
                <i class="material-icons">error</i> 
                incorrect admin-id or password
              </div>
              
                <form #loginForm="ngForm" (ngSubmit)="onLogin(Admin_Id.value,PassWord.value)">

                    <!-- Admin ID -->
                    <div class="form-group">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Admin Id</mat-label>
                        <input type="text" #Admin_Id ngModel required matInput name="username"  placeholder="Enter Id..."  class="form-control">

                    </mat-form-field>
                  </div>

                    <!-- Password -->
                    <div class="form-group">
                    <mat-form-field class="full-width" appearance="outline">
                      <mat-label>Password</mat-label>
                      <input type="password" #PassWord ngModel required matInput name="password" placeholder="Enter Password..."  class="form-control"
                      >
                    </mat-form-field>
                    </div>

                     <div class="container">
                       <button [disabled]="!loginForm.valid" type="submit" mat-raised-button color="primary">Login</button>
                      
                     </div>
                  </form>
                 </div>
                </div>
              </div>
            </div>

