<app-navbar></app-navbar>
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3 text-center">
                <div class="container mt-5">
                    <img src="assets\img\logo.jpg" >
                </div>
                <h1 class="text-center">Log in to RESULTCO</h1>

                <form #loginForm="ngForm" (ngSubmit)="onLogin(); loginForm.resetForm()">

                    <!-- Admin ID -->
                    <div class="form-group">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Admin Id</mat-label>
                        <input type="email" required matInput name="username"  placeholder="Enter Id..."  class="form-control"
                        [(ngModel)]="LoginPage.admin_id"
                        >

                    </mat-form-field>
                  </div>

                    <!-- Password -->
                    <div class="form-group">
                    <mat-form-field class="full-width" appearance="outline">
                      <mat-label>Password</mat-label>
                      <input type="password" required matInput name="password" placeholder="Enter Password..."  class="form-control"
                      [(ngModel)]="LoginPage.password"
                      >
                    </mat-form-field>
                    </div>

                     <div class="container">
                       <button type="submit" mat-raised-button color="primary">Login</button>
                       <button type="reset" mat-raised-button color="warning">cancel</button>
                     </div>
                  </form>
                 </div>
                </div>
              </div>
            </div>

