<!-- <app-navbar></app-navbar>

<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3 text-center">
                <div class="container mt-5">
                    <img src="assets\img\logo.jpg" >
                </div>
                <h1 class="text-center">Log in to RESULTCO</h1>

              <div *ngIf="isLoginerr" class="red-text center error-message">
                <i class="material-icons">error</i>
                incorrect admin-id or password
              </div>

                <form #loginForm="ngForm" (ngSubmit)="onLogin(Admin_Id.value,PassWord.value)">

                    <div class="form-group">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Admin Id</mat-label>
                        <input type="text" #Admin_Id ngModel required matInput name="username"  placeholder="Enter Id..."  class="form-control">

                    </mat-form-field>
                  </div>


                    <div class="form-group">
                    <mat-form-field class="full-width" appearance="outline">
                      <mat-label>Password</mat-label>
                      <input type="password" #PassWord ngModel required matInput name="password" placeholder="Enter Password..."  class="form-control"
                      >
                    </mat-form-field>
                    </div>

                     <div class="container">
                       <button [disabled]="!loginForm.valid" type="submit" mat-raised-button color="primary">Login</button>

                     </div>
                  </form>
                 </div>
                </div>
              </div>
            </div>
 -->

<app-navbar></app-navbar>

 <div fxLayout="row" fxLayout.xs="column">

  <div fxFlex="100%" fxFlex.xs="100%"   class="loginForm" fxLayoutAlign="center center">
   <mat-card fxFlex="70%" fxFlex.xs="90%" fxFlex.sm="100%" fxFlex.md="100%" fxFlex.lg="100%">


    <form #loginForm="ngForm" (ngSubmit)="onLogin(Admin_Id.value,PassWord.value)" fxLayout="column" fxLayoutAlign="center center">

      <div>
        <img src="assets\img\logo.jpg" >
      </div><br>
      <p>
        <mat-label style="color: black; font-size: large;">Log in to RESULTCO </mat-label>
      </p>

     <p>
       <mat-form-field appearance="outline">
         <mat-label>AdminId</mat-label>
         <input type="text" #Admin_Id ngModel required matInput name="username"  placeholder="Enter Id..."  class="form-control">
         <mat-icon matSuffix>verified_user</mat-icon>

       </mat-form-field>
     </p>

     <p>
       <mat-form-field appearance="outline">
         <mat-label>Password</mat-label>
         <input type="password" #PassWord ngModel required matInput name="password" placeholder="Enter Password..."  class="form-control"
         >
         <mat-icon matSuffix>vpn_key</mat-icon>

       </mat-form-field>
     </p>

     <!-- <button [disabled]="!loginForm.valid" type="submit" mat-raised-button color="primary">Login</button> -->
     <button [disabled]="!loginForm.valid" type="submit" mat-raised-button color="primary">Login</button>
     </form>

   </mat-card>


  </div>

</div>
<app-header-footer></app-header-footer>
