<!--
<mat-toolbar color="primary">

  <a mat-icon class="example-icon result_btn btn btn-warning" routerLink="/admin/homepage">
  <mat-icon class="iconn1">home</mat-icon>
  <span>Home</span>
  </a>





<a mat-icon  class="example-icon result_btn btn btn-primary" (click)="onAddnewstude()" routerLink="/admin/add-new-student/:id">
<mat-icon class="iconn1">add_circle</mat-icon>
<span>Add New Student</span>
</a>


<a mat-icon class="example-icon result_btn btn btn-warning" (click)="onAddnewres()"  routerLink="/admin/insert-new-result">
  <mat-icon class="iconn1">create_new_folder</mat-icon>
  <span>Add New Result</span>
  </a>

  <a mat-icon class="example-icon result_btn btn btn-success" (click)="onRegistredstud()" routerLink="/admin/registered-students">
    <mat-icon class="iconn1">group</mat-icon>
    <span>Registered Students</span>
    </a>

    <a mat-icon class="example-icon result_btn btn btn-success" (click)="onLogout()">
      <mat-icon class="iconn1">group</mat-icon>
      <span>Logout</span>
      </a>
</mat-toolbar> -->



<mat-toolbar color="primary">

  <mat-toolbar-row fxLayoutAlign="space-between center">
    <div fxLayout="row">
      <button mat-raised-button color="primary" routerLink="/admin/homepage">
        <mat-icon>home</mat-icon>
        <span class="logo">ResultCo</span>
      </button>
      &nbsp;

      <div *ngIf=!deviceXs>
        <button mat-raised-button color="accent" (click)="onAddnewstude()" routerLink="/admin/add-new-student/:id">
          <mat-icon class="iconn1">add_circle</mat-icon>
          <span>Add New Student</span>
        </button>
        &nbsp;
        <button mat-raised-button color="warn" (click)="onAddnewres()"  routerLink="/admin/insert-new-result">
          <mat-icon class="iconn1">create_new_folder</mat-icon>
          <span>Add New Result</span>
        </button>
        &nbsp;
        <button mat-raised-button color="primary" (click)="onRegistredstud()" routerLink="/admin/registered-students">
          <mat-icon class="iconn1">group</mat-icon>
          <span>All Students</span>

        </button>
     </div>

    </div>
    <button mat-icon-button color="black" (click)="onLogout()">
      <mat-icon>logout</mat-icon>
    <span>Logout</span>


    </button>
    <div>


    </div>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf=deviceXs fxLayoutAlign="space-between end">

    <button mat-raised-button color="accent" (click)="onAddnewstude()" routerLink="/admin/add-new-student/:id">
      <mat-icon class="iconn1">add_circle</mat-icon>
    </button>
    <button mat-raised-button color="warn" (click)="onAddnewres()"  routerLink="/admin/insert-new-result">
      <mat-icon class="iconn1">create_new_folder</mat-icon>
    </button>
    <button mat-raised-button color="primary" (click)="onRegistredstud()" routerLink="/admin/registered-students">
      <mat-icon class="iconn1">group</mat-icon>
    </button>

  </mat-toolbar-row>

</mat-toolbar>
